@font-face {
  font-family: "Montserrat Light";
  src: url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/AnyConv.com__Montserrat-Light.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}
@font-face {
  font-family: "Avenir Next Cyr Light";
  src: url("../fonts/AvenirNextCyr-Light.woff") format("woff"), url("../fonts/AnyConv.com__AvenirNextCyr-Light.woff2") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: wrap;
}
.button {
  width: 180px;
  height: 48px;
  border-radius: 30px;
  cursor: pointer;
  color: rgb(109, 49, 208);
  background-color: rgb(255, 219, 128);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 0.3s ease;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(90.49deg, #53269D 0%, #6D31D0 100.2%);
}
.header__wrapper {
  display: flex;
  align-items: center;
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 50;
}
.header::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: linear-gradient(90.49deg, #53269D 0%, #6D31D0 100.2%);
  z-index: 2;
}
.header__wraper {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 120px;
  align-items: center;
}
.header__logo {
  overflow: hidden;
  position: relative;
  z-index: 3;
}
.header__burger {
  display: none;
  padding: auto;
}
.header__menu {
  display: flex;
  align-items: center;
}
.header__list {
  display: flex;
}
.header__link {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
}
.header__button {
  padding: 0 71px;
}

.header__list li {
  list-style: none;
  margin: 0px 0px 0px 20px;
}

@media (max-width: 1200px) {
  .menu {
    display: none;
  }
  .button {
    overflow-x: hidden;
  }
  .header__burger {
    display: block;
    width: 30px;
    height: 20px;
    position: relative;
    z-index: 3;
    padding: 0 50px;
  }
  .header__burger::after {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 40px;
    height: 2px;
    left: 0;
    bottom: 0;
    transition: all 0.3s ease 0s;
  }
  .header__burger::before {
    content: "";
    position: absolute;
    background-color: #fff;
    width: 40px;
    height: 2px;
    left: 0;
    top: 0;
    z-index: 3;
  }
  .header__burger span {
    position: absolute;
    background-color: #fff;
    left: 0;
    width: 40px;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  }
  .header__menu {
    position: fixed;
    top: -120%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 100px 10px 20px 10px;
    transition: 0.3s;
  }
  .header__menu.active {
    top: 0;
    display: inline-block;
    text-align: center;
  }
  .header__list {
    display: block;
    text-align: center;
    margin: auto;
    padding: 0 30px;
    width: 200px;
    height: 260px;
  }
  .header__list li {
    margin: 0px 0px 20px 0px;
  }
  .header__link {
    color: #000;
  }
  .header__burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
  .header__wraper {
    height: 80px;
  }
}
body {
  font-family: "Avenir Next Cyr Light";
  font-size: 16px;
}