@font-face {
 font-family: 'Montserrat Light';
 src:
 url('../fonts/Montserrat-Light.woff') format('woff'),
 url('../fonts/AnyConv.com__Montserrat-Light.woff2') format('woff');

 font-weight: normal;
 font-style: normal;
 font-display: wrap;
 }

@font-face {
 font-family: 'Avenir Next Cyr Light';
 src:
 url('../fonts/AvenirNextCyr-Light.woff') format('woff'),
 url('../fonts/AnyConv.com__AvenirNextCyr-Light.woff2') format('woff');
 font-weight: normal;
 font-style: normal;
 font-display: wrap;
 }