@media ( max-width: 1200px )
 .menu 
  display: none 
 .button
  overflow-x: hidden
 .header__burger
  display: block
  position: relative
  width: 30px
  height: 20px
  position: relative
  z-index: 3
  padding: 0 110px
  &::after
   content: ''
   position: absolute
   background-color: #fff
   width: 40px
   height: 2px
   left: 0 
   bottom: 0
   transition: all 0.3s ease 0s
 .header__burger
  &::before
   content: ''
   position: absolute
   background-color: #fff
   width: 40px
   height: 2px
   left: 0 
   top: 0 
   z-index: 3
 .header__burger span
  position: absolute
  background-color: #fff
  left: 0 
  width: 40px
  height: 2px
  top: 9px
  transition: all 0.3s ease 0s
 .header__menu
  position: fixed
  top: -110%
  left: 0 
  width: 100%
  height: 100%
  background-color: linear-gradient(90.49deg, #53269D 0%, #6D31D0 100.2%)
  // display: none
  padding: 150px 10px 20px 10px
  transition: 0.3s
 .header__menu.active
  top: 0
 .header__list
  display: block
  text-align: center
  // margin: 0px 0px 20px 0px
 .header__list li
  margin: 0px 0px 20px 0px
 .header__burger.active
  &::before
   transform: rotate(45deg)
   top: 9px
 .header__burger.active
  &::after
   transform: rotate(-45deg)
   bottom: 9px
 .header__burger.active span
   transform: scale(0)
// @media (max-width: 480px)
 .button
  display: none