.header
 left: 0
 top: 0
 transition: all .3s ease-in-out
 background: linear-gradient(90.49deg, #53269D 0%, #6D31D0 100.2%)
 z-index: 3
 position: relative
 &::before
  content: ''
  position: absolute
  width: 100%
  height: 100%
  left: 0
  top: 0
  background-color: linear-gradient(90.49deg, #53269D 0%, #6D31D0 100.2%)
  z-index: 2
 &__wrapper
  position: relative
  display: flex
  justify-content: space-between
  height: 120px
  align-items: center
 &__logo
  overflow: hidden
  position: relative
  z-index: 3
  margin-left: 20px
  img
   width: 100%
   height: 100%
 &__burger
  display: none
 &__menu
  display: flex
  align-items: center
 &__list
  display: flex
  margin: 0px 73px 0px 0px
  flex-wrap: wrap
 &__link
  color: #fff
  text-decoration: none
  font-size: 16px
  text-transform: uppercase
 &__button
  z-index: 3
  padding-bottom: 5px
 &__item
  position: relative
  text-decoration: none
  display: inline-block
  cursor: pointer
  z-index: 3
  &::before
   position: absolute
   display: block
   content: ''
   height: 1px
   margin-top: 19px
   background: #fff
   transition: width 0.5s
   width: 0%
  &:hover
   &::before
     width: 100%
 li
  position: relative
 a.parent
  margin: 0px 4px 0px 0px
.sub-header__list
 position: absolute
 left: 50%
 transform: translateX(-50%)
 top: 20px
 display: none
 padding: 5px 0px 0px 0px
 width: 280px
 height: 82px
.sub-header__list li
  background-color: #fff
  margin: 0
.sub-header__link
 color: #000
 display: inline-block
 padding: 5px 10px
 -webkit-transition: all 0.5s ease
 transition: all 0.5s ease
 &:hover
  color: #ffa000
  -webkit-text-shadow: 2px 2px 2px #000
  -moz-text-shadow: 2px 2px 2px #000
  text-shadow: 2px 2px 2px #000
.header__list li
 position: relative
 list-style: none
 margin: 0px 12px 0px 20px
.header__list .sub-header__list li
 margin-left: 0
 margin-right: 0
 text-align: center
.header__list>li:hover .sub-header__list
 display: block
body.mouse .header__list>li:hover .sub-header__list
 display: block
body.mouse .sub-header__list>li:hover .sub-header__list
 display: block
body.touch .sub-header__list.open
 display: block
.arrow
 position: absolute
 top: 6px
 width: 5px
 height: 5px
 transform: rotate(135deg)
 border-top: 1px solid #fff 
 border-right: 1px solid #fff
 margin-right: 15px
.arrow.active
 transform: rotate(315deg)